
h1 {color: lime;
    text-align: center;}
p {color: green;
   text-align: center;
}
a:link {
color:aquamarine;
}
a:visited {
color:green;
}
a:hover {
    color: lime;
}
a:active {
    color: greenyellow;
}